<style>
  .slider {
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
  }

  .active {
    opacity: 1;
  }

  .slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .indicators {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: default;
  }

  .indicators button {
    padding: 10px 20px;
    font-size: 25px;
    background-color: grey;
    color: black;
    border: none;
  }
</style>

<div class="slider">
  {% for block in section.blocks %}
    <div class="slide">
    <img src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.text }}">
    </div>
  {% endfor %}
</div>
<div class="indicators">
  <button id="prev">&#10094;</button>
  <button id="next">&#10095;</button>
</div>

<script>
  const slides = document.querySelectorAll('.slide');
  const next = document.getElementById('next');
  const prev = document.getElementById('prev');

  const nextSlide = () => {
    const activeSlide = document.querySelector('.active');
    activeSlide.classList.remove('active');
    
    if (activeSlide.nextElementSibling) {
      activeSlide.nextElementSibling.classList.add('active');
    } else {
      slides[0].classList.add('active');
    }
  }

  const prevSlide = () => {
    const activeSlide = document.querySelector('.active');
    activeSlide.classList.remove('active');
    
    if (activeSlide.previousElementSibling) {
      activeSlide.previousElementSibling.classList.add('active');
    } else {
      slides[slides.length - 1].classList.add('active');
    }
  }

  next.addEventListener('click', () => {
    nextSlide();
  });

  prev.addEventListener('click', () => {
    prevSlide();
  });
</script>

{% schema %}
{
  "name": "Sliders",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
          
       ]
     }
   ],
  "presets": [
    {
      "name": "Sliders"
    }
  ]
}
{% endschema %}