<style>
  .swiper {
    position: relative;
    width: 100%;
    height: 100vH;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
  }

  .active {
    opacity: 1;
  }

  .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

.indicators button {
  position: absolute;
  top: 50%; /* Butonu dikeyde ortalar */
  transform: translateY(-50%);
  background-color: transparent; /* Arka planı şeffaf yapar */
  color: black; /* Ok işaretlerinin rengini ayarlar */
  border: none; /* Kenarlık yok */
  cursor: pointer;
  font-size: 30px; /* Ok işaretlerini büyütme */
  font-weight: bold; /* Ok işaretlerinin kalınlığını ayarlar */
  width: 40px; /* Butonun genişliği */
  height: 40px; /* Butonun yüksekliği */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Ekstra boşluğu kaldırır */
}

#prev {
  left: 20px; /* Sol ortada olacak şekilde yerleştirir */
}

#next {
  right: 20px; /* Sağ ortada olacak şekilde yerleştirir */
}

  
/* Mobil cihazlar için özel stiller */
@media (max-width: 768px) {
  .slider {
    height: 100vh; /* Tam ekran yüksekliği */
  }

  .slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Resmi ekranın tamamını kaplayacak şekilde ayarlar */
  }

  .indicators button {
    top: 50%; /* Butonları dikeyde ortalar */
    transform: translateY(-50%);
  }
}

</style>

<div class="swiper">
  {% for block in section.blocks %}
    <div class="slide {% if forloop.first %}active{% endif %}">
      <img src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.text }}">
    </div>
  {% endfor %}
  <div class="indicators">
    <button id="prev">&#10094;</button>
    <button id="next">&#10095;</button>
  </div>
</div>



<script>
  // Tüm slaytları seç
  const slides = document.querySelectorAll('.slide');
  let currentSlideIndex = 0;

  // İlk slaytı aktif olarak ayarla
  slides[currentSlideIndex].classList.add('active');

  // Slaytı güncelleme fonksiyonu
  const updateSlide = (newIndex) => {
    slides[currentSlideIndex].classList.remove('active');
    currentSlideIndex = newIndex;
    slides[currentSlideIndex].classList.add('active');
  };

  // Sonraki slayta geçiş fonksiyonu
  const nextSlide = () => {
    const newIndex = (currentSlideIndex + 1) % slides.length;
    updateSlide(newIndex);
  };

  // Önceki slayta geçiş fonksiyonu
  const prevSlide = () => {
    const newIndex = (currentSlideIndex - 1 + slides.length) % slides.length;
    updateSlide(newIndex);
  };

  // Butonlara tıklama olaylarını ekle
  document.getElementById('next').addEventListener('click', nextSlide);
  document.getElementById('prev').addEventListener('click', prevSlide);
</script>


{% schema %}
{
  "name": "Sliders",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         
       ]
     }
   ],
  "presets": [
    {
      "name": "Sliders"
    }
  ]
}
{% endschema %}
