<style>
  .swiper{
    position: relative;
    width: 100%;
    height: 100vH;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
  }

  .active {
    opacity: 1;
  }

  .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

/* Sağ ve sol ortadaki butonlar */
.indicators button {
position: absolute;
top: 50%; /* Butonu dikeyde ortalar */
transform: translateY(-50%); /* Dikeyde tam ortalamak için */
font-size: 30px;
background-color: transparent;
color: black;
border: none;
cursor: pointer;
}

#prev {
left: 20px; /* Sol ortada olacak şekilde yerleştirir */
}

#next {
right: 20px; /* Sağ ortada olacak şekilde yerleştirir */
}

  
/* Mobil cihazlar için özel stiller */
@media (max-width: 768px) {
  .swiper {
    height: 100vh; /* Tam ekran yüksekliği */
  }

  .slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Resmi ekranın tamamını kaplayacak şekilde ayarlar */
  }

  .indicators button {
    top: 50%; /* Butonları dikeyde ortalar */
    transform: translateY(-50%);
  }
}
  /* Pagination dots */
.pagination-dots {
  text-align: center;
  margin-bottom: 20px;
}

.pagination-dots {
  position: absolute;
  bottom: 20px; /* Resmin altına 20px boşluk bırakır */
  left: 50%;
  transform: translateX(-50%); /* Sol ve sağ ortalama */
  display: flex;
  gap: 8px; /* Butonlar arasındaki boşluk */
}

.pagination-dots button {
  width: 12px;
  height: 12px;
  background-color: grey; /* Varsayılan renkte gri */
  border-radius: 50%; /* Yuvarlak yapmak için */
  border: none;
  cursor: pointer;
}

.pagination-dots button.active {
  background-color: black; /* Aktif slide'ı belirgin yapmak için siyah */
}
</style>

<div class="swiper">
  {% for block in section.blocks %}
    <div class="slide {% if forloop.first %}active{% endif %}">
      <img src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.text }}">
    </div>
  {% endfor %}
  <div class="pagination-dots"></div> 
  <div class="indicators">
    <button id="prev">&#10094;</button>
    <button id="next">&#10095;</button>
  </div>
</div>



<script>
  // Tüm slaytları seç
  const slides = document.querySelectorAll('.slide');
  const paginationDotsContainer = document.querySelector('.pagination-dots');
  let currentSlideIndex = 0;

  // İlk slaytı aktif olarak ayarla
  slides[currentSlideIndex].classList.add('active');

  slides.forEach((slide, index) => {
    const dot = document.createElement('button');
    if (index === currentSlideIndex) {
      dot.classList.add('active');
    }
    dot.addEventListener('click', () => {
      updateSlide(index);
    });
    paginationDotsContainer.appendChild(dot);
  });

  const paginationDots = document.querySelectorAll('.pagination-dots button');

  const updateSlide = (newIndex) => {
  slides[currentSlideIndex].classList.remove('active');
  paginationDots[currentSlideIndex].classList.remove('active');
  
  currentSlideIndex = newIndex;

  slides[currentSlideIndex].classList.add('active');
  paginationDots[currentSlideIndex].classList.add('active');
};


  // Sonraki slayta geçiş fonksiyonu
  const nextSlide = () => {
    const newIndex = (currentSlideIndex + 1) % slides.length;
    updateSlide(newIndex);
  };

  // Önceki slayta geçiş fonksiyonu
  const prevSlide = () => {
    const newIndex = (currentSlideIndex - 1 + slides.length) % slides.length;
    updateSlide(newIndex);
  };

  // Butonlara tıklama olaylarını ekle
  document.getElementById('next').addEventListener('click', nextSlide);
  document.getElementById('prev').addEventListener('click', prevSlide);
</script>


{% schema %}
{
  "name": "Sliders",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         
       ]
     }
   ],
  "presets": [
    {
      "name": "Sliders"
    }
  ]
}
{% endschema %}
